# /etc/systemd/system/yova.service
[Unit]
Description=Yova (Supervisor via Poetry)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/yova
Environment=PATH=/home/pi/.local/bin:/usr/local/bin:/usr/bin
ExecStart=/home/pi/.local/bin/poetry run supervisord -n -c /home/pi/yova/configs/supervisord.conf
ExecStop=/home/pi/.local/bin/poetry run supervisorctl -c /home/pi/yova/configs/supervisord.conf shutdown
ExecReload=/home/pi/.local/bin/poetry run supervisorctl -c /home/pi/yova/configs/supervisord.conf reload
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
